/*work on main body*/
.historyList {
    text-transform: capitalize;
}

.historyTitle {
    padding: 50px 0px 20px 0px;
}

#history {
    font-size: 16px;
    padding-bottom: 10px;
}

.modal {
    display: none;
    position: absolute;
    background-color: rgba(10, 10, 10, .5);
    width: 95%;
    height: 94%;
    margin: 3vw;
    z-index: 1;
    
}

.modaldrinktitle {
    font-size: 30px;
}

.modaldrinkimage {
    margin: 30px 0px 30px 0px;
    width: 300px;
    height: 200px;
}

.errorMessage {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    padding: 50px;
}

.card img {
    opacity: none;
}

.ingredDiv h4 {
    padding: 50px 0px 15px 0px;
    font-size: 25px;
}

.ingredgrid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#recipe {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 20px;
}

.ingredient {
    padding: 0px 5px 10px 0px;
    list-style-type: none;
}

.youtubeVideo {
    text-align: center;
}

.youtubeVideo h5 {
    font-size: 30px;
    margin: 50px 0px 20px 0px;
}

.responsible {
    font-size: 25px;
    margin-top: 80px;
}

#closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(14, 13, 13);
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 1610px) {
    .ingredgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .card {
        text-align: center;
    }
    .modaldrinkimage {
        margin: 30px 0px 30px 0px;
        width: 150px;
        height: 75px;
    }
    .responsible {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .ingredgrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 450px) {
    iframe {
        width: 300px;
        height: 180px;

    }
    .ingredgrid {
        grid-template-columns: 1fr;
    }

}